<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyr.userservice.mapper.MenuMapper">

    <select id="selectPermsByUserId" resultType="java.lang.String">
        -- 根据userid查询对应的权限，需要角色和权限的状态都是正常的
        SELECT
            DISTINCT m.perms
        FROM sys_user_role ur
                 LEFT JOIN sys_role r ON ur.role_id = r.role_id
                 LEFT JOIN sys_role_menu rm ON rm.role_id = r.role_id
                 LEFT JOIN sys_menu m ON rm.menu_id = m.menu_id
        WHERE user_id = #{userId}
          AND r.`status` = 0
          AND m.`status` = 0
    </select>
</mapper>